/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #fafafa;
}

/* google circle icon */

.gsi-material-button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  background-color: #131314;
  background-image: none;
  border: 1px solid #747775;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #e3e3e3;
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: center;
  -webkit-transition: background-color 0.218s, border-color 0.218s,
    box-shadow 0.218s;
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  vertical-align: middle;
  white-space: nowrap;
  width: 40px;
  max-width: 400px;
  min-width: min-content;
  border-color: #8e918f;
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
  margin: 0;
  padding: 9px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
  -webkit-transition: opacity 0.218s;
  transition: opacity 0.218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: #13131461;
  border-color: #8e918f1f;
}

.gsi-material-button:disabled .gsi-material-button-state {
  background-color: #e3e3e31f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
  opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
  opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state,
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
  background-color: white;
  opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
  background-color: white;
  opacity: 8%;
}

/* Login component css */

.medialogincomponentloginbuttondiv {
  margin-right: 20px;
  display: none;
}

.medialogincomponentloginbutton {
  border-radius: 4px;
  width: 274px;
  height: 40px;
  background-color: #9966cc !important;
}

.medialogincomponentloginbutton:hover {
  background-color: #ccc;
}

.mediaforgotyourpasswordforlogincomponent {
  margin-left: 80px;
  font-weight: 0;
  display: none;
  cursor: pointer;
}

.createanaccountdiv span {
  color: #5c5470;
  cursor: pointer;
  margin-left: 7px;
}

.createanaccountheaderdiv {
  display: flex;
  justify-content: center;
}

.createanaccountdiv {
  margin-top: 40px;
  color: black;

  display: flex;
  justify-content: center;
}

.forgotyourpasswordforlogincomponentdiv {
  margin-top: 20px;
  color: black;
}

.forgotyourpasswordforlogincomponent {
  padding-left: 0px;
  text-decoration: underline;
  cursor: pointer;
}

.forgotyourpasswordforlogincomponent:hover {
  text-decoration: none;
  color: grey;
}

.errorinfoiconforlogincomponent {
  margin-right: 8px;
  margin-top: 2px;
  fill: black;
}

.logincomponenterrormessage {
  display: flex;
  justify-content: center;
  color: red;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  background-color: #fde8e7;
}

.logincomponenterrormessage span {
}

.logincomponentremembermediv {
  margin-top: 15px;
  padding-left: 0px;
  color: #352f44;
}

.usedforalignment {
  width: 800px;
  position: relative;
}

.sektion {
  height: 100vh;
  background-color: #fdfdfd;
  display: flex;
  justify-content: center;
  /* outline: 2px solid pink; */
}

.loginheader {
  font-size: 1.6rem;
  padding-bottom: 5px;
  color: black;
}

.ordivider {
  outline: 2px solid green;
  display: flex;
  justify-content: center;
}

.loginheaderdiv {
  display: flex;
  justify-content: center;
  /* justify-content: start; */
  /* border-bottom: 2px solid black; */
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.logincomponentemailinput {
  margin-top: 5px;
  background-color: white;
  border: 1px solid black;
  width: 400px;
  height: 30px;
  font-size: 16px;
  outline: none;

  margin-bottom: 20px;
}

.logincomponentpasswordinput {
  margin-top: 5px;
  background-color: white;
  border: 1px solid black;
  width: 400px;
  height: 30px;
  font-size: 16px;
  outline: none;
}

.logincomponentpasswordlabel {
  font-size: 1.1rem;
  color: black;
}

.logincomponentemailinput:focus {
}

.loginemaillabel {
  font-size: 1.1rem;
  color: black;
}

.loginformdiv {
  /* outline: 2px solid black; */
  border-radius: 6px;
  width: 450px;
  background-color: #87ceeb;
  /* background-color: #1976d2; */
  height: 530px;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.medialoginformdiv {
  height: 530px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logincomponentloginbutton:hover {
  /* color: black; */
  background-color: #ccc;
}

.logincomponentloginbutton {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #9966cc;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  width: 275px;
  border-radius: 4px;
}

.logincomponentloginbuttondiv {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.createanaccountcomponentloginbuttondiv {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.googlebuttondiv {
  margin-top: 15px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* .googlebuttondiv button {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 1rem;
} */

/* 
.gsi-material-button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  background-color: WHITE;
  background-image: none;
  border: 1px solid #747775;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color 0.218s, border-color 0.218s,
    box-shadow 0.218s;
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  max-width: 400px;
  min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
  -webkit-transition: opacity 0.218s;
  transition: opacity 0.218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: #ffffff61;
  border-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
  opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
  opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state,
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
  background-color: #303030;
  opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
  background-color: #303030;
  opacity: 8%;
} */

/* login component css ended */

/* register component css */

/* hamburger menu */
.hamburger-menu {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  display: none;
}

.line {
  width: 30px;
  height: 2px;
  /* background-color: #000; */
  background-color: #fdfdfd;
  transition: transform 0.3s ease, opacity 0.3s ease;
  margin: 4px 0;
}

.open .line:nth-child(1) {
  transform: rotate(46deg) translate(7px, 7px);
}

.open .line:nth-child(2) {
  opacity: 0;
}

.open .line:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -8px);
}

/* main content body */

.ops {
  font-size: 16px;
  color: red;
}

select.ops {
  font-size: 16px;
  color: red;
}

option:disabled {
  color: red;
}

.animalheadingdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.info {
  margin-bottom: 5px;
  font-size: 1.1rem;
  margin-left: 13px;
}

.animalheadingdiv h1 {
  font-size: 1.6rem;
}

.apiresponsecontainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
  margin-left: 20px;
  height: fit-content;
}

.stateinfo {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}

.apiimagecontainer {
  display: flex;
  justify-content: center;
}

.custom-image-overlay {
  border-radius: 4px 4px;
  height: 5px;
}

.contactinfo {
  margin-top: 15px;
  margin-bottom: 5px;
  word-wrap: break-word;
  display: flex;
  justify-content: flex-start;
}

.contactinfo h1 {
  word-wrap: break-word;
}

.phonecontactinfo {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}

.singleparentcontainer {
  outline: 2px solid black;
  /* height: fit-content; */
  height: 500px;
  border-radius: 2px 2px;
  width: 350px;
}

.hide {
  display: none;
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.modaldescriptionpara {
  margin-left: 0px;
}

.apiresponseimage {
  max-height: 250px;
  max-width: 250px;
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px 5px;
}

.apiresponseimage:hover {
  border: '2px solid black';
}

.mapcontainer {
  display: flex;
}

.gridcontainer {
  display: flex;
  outline: '2px solid black';
  justify-content: center;
  /* align-items: center;
  flex-direction: column; */
  position: relative;
}
/* 
.gridcontainerv2 {
  display: flex;
  outline: '2px solid pink';
  justify-content: center;
} */

.apidiv {
  display: flex;
  width: 60%;
}

.closediv {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.closeimagemodalx {
  height: 20px;
  margin-right: 0px;
  cursor: pointer;
}

.x {
  height: 20px;
  cursor: pointer;
}

.closediv span {
  margin-right: 20px;
}

/* closemodal */

.nontriggerfilter {
  width: /* 40%; */ 60%;
  outline: '2px solid black;';
  height: fit-content;
  padding-bottom: 30px;
  background-color: #faf9f6;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  margin-top: 80px;
  min-width: 300px;
  max-width: 600px;
  margin-right: 20px;
  position: sticky;
  top: 11%;
  z-index: 100;
  border-radius: 6px;
}

.filter {
  width: /* 40%; */ 60%;
  outline: '2px solid black;';
  height: fit-content;
  padding-bottom: 30px;
  background-color: #faf9f6;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  min-width: 300px;
  max-width: 600px;
  margin-right: 20px;
  position: sticky;
  top: 12%;
  z-index: 100;
}

.filterblock {
  width: /* 40%; */ 60%;

  outline: '2px solid black;';
  height: fit-content;
  padding-bottom: 30px;
  background-color: #faf9f6;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  margin-top: 80px;
  min-width: 300px;
  margin-left: 15px;
  max-width: 1000px;
  margin-right: 20px;
  top: 20%;
  /* z-index: 100; */
  display: none;
}

.nontriggerfilterblock {
  width: /* 40%; */ 60%;

  outline: '2px solid black;';
  height: fit-content;
  padding-bottom: 30px;
  background-color: #faf9f6;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  margin-top: 5px;
  min-width: 300px;
  margin-left: 15px;
  max-width: 1000px;
  margin-right: 20px;
  top: 20%;
  /* z-index: 100; */
  display: none;
}

.filterblockparent {
  display: none;
}

.typeofpetdiv {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

#petSelect {
  font-size: 16px;
  /* height: 30px; */
}

.selectapetdiv {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.genderselectdiv {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

#genderSelect {
  /* font-size: 16px; */
  /* height: 30px; */
}

.selectapetlabel {
  font-size: 1.3rem;
}

.genderheadingdiv {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.findapetdiv {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.findapetdiv h1 {
  font-size: 1.8rem;
}

.statediv {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.selectastatediv {
  /* margin-top: 10px; */
  display: flex;
  justify-content: center;
  /* font-size: 16px;
  height: 30px; */
}

.searchdiv {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.searchdiv button {
  /* color: whitesmoke; */
  height: 40px;
  width: 200px;
  /* font-size: 16px; */
  border-radius: 4px 4px;
  cursor: pointer;
}

/* navbar component css */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: #fbfbfb;
  outline: 2px solid black;
  margin-bottom: 2px;
  position: relative;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.wrapper {
  position: sticky;
  top: 0px;
  z-index: 100;
}

.navbar h1 {
  font-size: 2.3rem;
  font-family: 'Times New Roman', Times, serif;
  font-family: 'Shadows Into Light', cursive;
  cursor: pointer;
}

.navunorderedlist {
  position: absolute;
  display: flex;
  top: 27px;
  gap: 40px;
  right: 20px;
  font-size: 1.4rem;
}

.navunorderedlist li {
  list-style: none;
  cursor: pointer;
}

/* when the width becomes 800px this new filter block appears */
.mediafilter {
  margin-top: 80px;
  margin-bottom: 0px;
  font-size: 1.4rem;
  display: none;
  width: 100vw;
}

/* individual animals component */
.gobackdiv {
  margin-top: 20px;
  margin-left: 40px;
  display: flex;
  align-items: center;
}

.gobackword {
  font-size: 1.2rem;
  cursor: pointer;
}

/* backbutton */
.arrowleft {
  height: 25px;
  margin-right: 15px;
  cursor: pointer;
}

.imagesdiv {
  outline: 2px solid violet;
  height: 300px;
}

/* individual image modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);

  display: flex;
  justify-content: center;
}

.modal-content {
  margin-top: 70px;
  max-width: 950px;
  width: 90vw;
  /* height: 84vh; */
  background: #fbfbfb;
  padding: 20px;
  max-height: 800px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  display: flex;
  position: relative;
  /* max-height: 550px; */
  overflow: scroll;
  position: relative;
}

.modalimage {
  max-height: 200px;
  max-width: 200px;
  border-radius: 4px 4px;
  border: 2px groove black;
  cursor: pointer;
}

.modalcontainer {
  margin-top: 40px;
  width: 50%;
}

.xmodalclosediv {
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
}

.nophotosdiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  border-bottom: 2px solid #f3f3f3;
  padding-bottom: 20px;
  width: 60vw;
}

.modalimagediv {
  display: flex;
  justify-content: flex-start;
  overflow: scroll;

  border-radius: 4px;
  width: fit-content;
  align-items: center;
  gap: 20px;
  border-bottom: 2px solid #f3f3f3;
  padding-bottom: 20px;
  width: 600px;
  position: relative;
}

.modalmaincontactinfo {
  margin-top: 10px;
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  padding-bottom: 10px;
  border-bottom: 2px solid #f3f3f3;
}

.modalmaincontactinfo p {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.modalcontactinfodiv {
  font-size: 1.3rem;
}

.modalmaincontactinfo p span {
  font-weight: bolder;
}

.parentmodaldescriptiondiv {
  margin-bottom: 10px;
  border-bottom: 2px solid #f3f3f3;
  padding-bottom: 10px;
  font-size: 1.3rem;
  width: 600px;
}

.modalanimaldescription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  word-wrap: break-word;
}

.modaldescriptiondiv {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.xmodalclose {
}

.modalanimaldescription p {
  margin-bottom: 10px;
  font-size: 1.3rem;
  word-wrap: break-word;
}

.modalanimaldescription p span {
  font-weight: bolder;
}

.breed {
  margin-top: 10px;
}

.modalmapcontainer {
  height: 480px;
  outline: 2px solid black;
  border-radius: 4px 4px;
  max-width: 600px;
  /* position: absolute; */

  right: 30px;
  width: 330px;
}

.mediamodalmapcontainer {
  display: none;
  height: 250px;
  width: 85vw !important;
  outline: 2px solid black;
  border-radius: 4px 4px;
}

.mapheadingdiv {
  padding-top: 10px;

  background-color: #faf9f6;
}

.importantinfodiv {
  /* width: 40vw; */
  margin-top: 40px;
  margin-left: 20px;
  width: 90%;
  display: flex;
  justify-content: flex-end;
}

.importantinfodivversiontwo {
  width: 40vw;
  margin-left: 20px;
  margin-top: 60px;
  display: flex;
  justify-content: end;
}

.address {
  margin-top: 20px;
  font-size: 1.2rem;
  flex-wrap: wrap;
  word-wrap: break-word;
}

.locationdotspan {
  margin-right: 5px;
}

.scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: /*#007bff; */ black;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.scroll-to-top-button.visible {
  opacity: 1;
}

/* imagemodal css*/
.imagemodal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999999;
}

.imagemodal-content {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  /* max-width: 80%; */
  height: 400px;
  width: 30px;
  max-height: 430px;
  min-height: 320px;
  min-width: 300px;
  max-width: 391px;
  overflow: auto;
}

.modalimageparent {
  position: relative;
}

.modal-image {
  width: 100%;
  height: 340px;
  max-height: 600px;
  display: block;
  object-fit: cover;
}

.visibilityremove {
  visibility: hidden;
}

/* loadingimagemodal-content {
  position: relative;
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 8px;
  max-width: 80%;
  max-height: 75%;
  overflow: hidden;
} */

.closeimage-modal {
  position: absolute;
  top: 10px;
  right: 50px;
  z-index: 99;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  display: none;
}

.closeimagemodaldiv {
  display: flex;
  justify-content: end;
  padding-bottom: 10px;
}

.loadingimg {
  height: 400px;
}

/* media queries */

@media (max-width: 500px) {
  .importantinfodivversiontwo {
    display: none;
  }
}

@media (max-width: 537px) {
  .nontriggerfilterblock {
    display: block;
  }

  .hamburger-menu {
    display: flex;
  }

  .nontriggerfilter {
    display: none;
  }

  .mediafilter {
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  .mediafilter span {
  }

  .navunorderedlist li {
    display: none;
  }

  /* .gridcontainer {
    justify-content: flex-start;
  } */
}

@media (max-width: 800px) {
  /* .filter {
    position: absolute;

    width: 80vw;
    top: 0;
    z-index: 0;
  }  */

  .apidiv {
    width: 100%;
    margin-right: 20px;
  }

  .filter {
    display: none;
  }

  .filterblock {
    display: block;
  }

  .filterblockparent {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 962px) {
  .mediamodalmapcontainer {
    display: block;
    width: 90vw;
  }

  .modalmapcontainer {
    display: none;
  }
}

@media (max-width: 830px) {
  .modalimagediv {
    overflow: scroll;
  }
}

@media (max-width: 900px) {
  .apiresponsecontainer {
    justify-content: center;
  }
}

@media (max-width: 375px) {
  .apidiv {
    margin-right: 35px;
  }
}

/* @media (max-height: 915px) {
  .imagemodal-content {
    top: 50%;
  }
}

@media (max-height: 619px) {
  .imagemodal-content {
    top: 60%;
  }
} */

/* @media (max-height: 609px) {
  .imagemodal-content {
    top: 55%;
  }
} */

/* @media (max-height: 561px) {
  .imagemodal-content {
    min-height: 100px;
    min-width: 100px;
    width: 200px;
    overflow: auto;
  }
} */

/* @media (max-height: 439px) {
  .imagemodal-content {
    width: 170px;
  }
} */

/* @media (max-height: 400px) {
  .imagemodal-content {
    top: 60%;
    width: 150px;
  }
} */

/* @media (max-height: 343px) {
  .imagemodal-content {
    top: 60%;
    width: 130px;
  }
} */

@media (max-height: 500px) {
  .medialoginformdiv {
    margin-top: 10px;
    height: 430px;
  }

  .createanaccountcomponentloginbuttondiv {
    margin-top: 20px;
  }
}

@media (max-height: 364px) {
  .medialoginformdiv {
    margin-top: -21px;
  }

  .createanaccountcomponentloginbuttondiv {
    margin-top: 10px;
  }
}

@media (max-width: 1032px) {
  .importantinfodiv {
    display: none;
  }

  .modalcontainer {
    width: 100vw;
    height: 1000px;
  }

  .modalimagediv {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .parentmodaldescriptiondiv {
    width: 100%;
  }
}

@media (max-width: 341px) {
  .modalmaincontactinfo {
    width: 90vw;
  }
}

@media (max-height: 898px) {
  .imagemodal-content {
    top: 300px;
  }
}

@media (max-height: 517px) {
  .imagemodal-content {
    top: 270px;
  }
}
